body{
    background-color: black;
    overflow-x: hidden;
}

body svg{
    display: inline-block;
    position: absolute;
    top: 100; 
    left: 100;
}

h1{
    text-align: center;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#tempRead{
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


#humRead{
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}